.side-bar
  .side-bar_user-name
    .top-items
      .top-items__name
        kama
      .top-items__icons
        .top-items___edit
          = link_to "#", class: "icons__btn" do
            = icon('far','edit', class:"top-items__icons--btn")
        .top-items___cog
          = link_to "#", class:"icons__btn" do
            = icon('fas','cog', class:"top-items__icons--btn")
  .side-bar_group-list
    .group
      .group-name
        techcamp
      .group_new-message
        まだメッセージはありません
